@page
@model IndexModel
@{
    ViewData["Title"] = "Drag and Drop Moveable Test";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <b>Below is the box that should be able to be dragged places.</b>
    <button id="newMoveableObject" onclick="createMoveableHTML()">Create Moveable Object</button>

    <div class="moveWrapper">
        <div id="moveItem" class="moveItem"></div>
    </div>
</div>

<script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>
