@page
@model PrivacyModel
@{
    ViewData["Title"] = "Moveable Library Execution";
}

<h1>@ViewData["Title"]</h1>

<p>This page uses Moveable to create / manipulate objects. </p>
<b>Below is the box that should be able to be dragged places.</b>
<button id="newMoveableObject" onclick="createMoveableHTML()">Create Moveable Object</button>

<div class="moveWrapper">
    <div id="moveItem" class="moveItem"></div>
</div>


















